.app{
  color: whitesmoke;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.innerDiv{
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: center;
  background-size: 100%;
  border-radius: 15;
  width: 70%;
  height: 95%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.63);
}
