.rightDiv{
   display: flex;
   flex-direction: column;
   height:91.5vh ;
  
   
}
.topHeading{
    text-align: left;
    color: whitesmoke;
    font-size: 10px;
    font-weight: 600;
    
    margin-top: 5%;
    margin-left: 5px;
    
}
.celsius{
  font-size: 50px;
  margin-left: -2%;
}

.weather-detail{
    width: 40%;
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 4%;
    font-style: italic;
    color: whitesmoke;
}
.city-name{
 margin-top: 7%;
 font-size: 17px;
 color: whitesmoke;
 font-weight: 600
}
.upperDiv{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.current-temperature-detail::first-line{
    float: left;
}
.current-temperature-detail{
    display: flex;
    width: 40%;
    font-size: 15px;
    
}
.current-temperature{
    font-size: 50px;
    float: left;
    display: flex;
    flex-direction: row;
    
}
.temperature{
    display: flex;
    flex-direction: column;


}
.current-weather-icon{
   font-size: 53px;
   color:honeydew;
}
.high-low-temp{
    display: flex;
    flex-direction: row;
    gap: 72px;
    font-size: small;
    
    font-weight: 500;
    margin-left: 3%; 
}
.high-temp{
    font-size:15px
}
.low-temp{
    font-size:15px ;
    margin-top: 10%;
}
.inner-temp{
    font-size: 12px;
}
.inner-celsius{
    font-size: 25px;
    margin-left: -5%;
    margin-top: -2%;
}

.city-name-time{
    font-size: 13px;
    margin-top: 1%;
    border-bottom: 3px solid#d39b46;
    width: 110px;
    color: whitesmoke;
}
.lower-div{
    border-top: 3px solid #bbb;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 40px
    
}
.weekday-name{
    border-bottom: 3px solid#d39b46;
    width: 75px;
    /* text-decoration-line: underline;
    text-decoration-style: double; */
    text-align: center;
    font-size: small;
    
}
.lower-outter-div{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap:35px;
    color: honeydew;
    
}
.city-temp{
    font-size: xx-large;
    text-align: center;
    width: 70px ;
    font-weight: 50;
    margin-top: 10%;
    
}